*{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: hsl(214, 15%, 62%);;
    line-height: 70px;
    padding-left: 30px;
    font-size: 25px;
    font-weight: bold;
}

a{
    color: blue;
}


a,a:hover{
    text-decoration: none!important;
}

.logout{
    float: right;
    padding-right: 30px;
}

.logout a{
    width: 100px;
    height: 40px;
}

ul{
    background-color: #424a5b;
    width: 16%;
    height: 100%;
    position: fixed;
    padding-top: 5%;
    text-align: center;
    text-decoration: none;
}

ul li{
    list-style: none;
    padding-bottom: 30px;
    font-size: 15px;

}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul li a:hover{
    color: skyblue;
    
}

.links{
    /* border: 3px solid red; */
    margin-right: 30px;
}

.content{
    margin-left: 20%;
    margin-top: 5%;
}